
body{
    font-family: 'Rubik', sans-serif;
}

.backcolor {
    background-color: #1bbc9b;
}

img {
    width: 30%;
    resize: both;
}

ul{
    list-style-type: none;
    background-color: #2d3e50;
    overflow: hidden;
    margin-bottom: 0px !important;
}

li {
    text-transform: uppercase;
}

li:first-child {
    float: left;
    font-size: 1.5rem;
    padding: 6px;
    margin-left: 50px;
    
}

li:not(first-child) {
    font-size: 1rem;
    padding: 6px;
    margin: 5px;
    float: right;
}

li a {
    text-decoration: none !important;
    color: whitesmoke;
    height: 100%;
    display: block;
    text-align: center;
}

h1 {
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: whitesmoke;
    font-weight: bold;
}

h3 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 16px;
    color: whitesmoke;
    font-weight: bold;
}

input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: lightgrey;
}

button {
    margin-top: 10px;
    width: 5rem;
    background-color: #1bbc9b;
    padding: 12px 2px;
    border-radius: 6px;
    color: whitesmoke;
    box-shadow: none;
    border: none;
    cursor: pointer;
}


