* {
    margin:0;
}
body{
    font-family: 'Rubik', sans-serif;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #1bbc9b;
}

.image {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img {
    width: 30%;
    resize: both;
}

ul{
    list-style-type: none;
    background-color: #2d3e50;
    padding: 14px 16px;
    overflow: hidden;
    height: 100%;
}

li {
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 16px;
}

li:first-child {
    float: left;
    font-size: 1.5rem;
    padding: 6px;
    margin-left: 50px;
    
}

li:not(first-child) {
    font-size: 1rem;
    padding: 6px;
    margin: 5px;
    float: right;
}

li a {
    text-decoration: none;
    color: whitesmoke;
    height: 100%;
    display: block;
    text-align: center;
}

h1 {
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: whitesmoke;
    font-weight: bold;
}

h3 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 16px;
    color: whitesmoke;
    font-weight: bold;
}

.valores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
}

.valores>article {
    padding: 16px;
    text-align: center;
    font-size: 1.75rem;
}

.consulta {
    padding-top: 16;
    display: flex;
    flex-flow: column wrap;
    width: 40%;
}
.valores>article {
    font-weight: bold;
}

.consulta>label {
    text-align: left;
    color: grey;
}
.consulta>input {
    padding: 4px;
    margin: 4px;
}

input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: lightgrey;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin-top: 10px;
    width: 5rem;
    background-color: #1bbc9b;
    padding: 12px 2px;
    border-radius: 6px;
    color: whitesmoke;
    box-shadow: none;
    border: none;
    cursor: pointer;
}


